/* Slideshow */
.index-header {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0%;
}

#slideshow {
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pointers {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prev, .next {
    cursor: pointer;
    width: auto;
    padding: 25px 20px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 10px 10px 0;
    user-select: none;
}

.next {
    border-radius: 10px 0px 0px 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

#slideshow .text {
    color: #f2f2f2;
    font-size: 2.5rem;
    text-align: center;
    height: 10%;
    padding: 9px 0;
}

.dot-container {
    text-align: center;
    height: auto;
    padding: 0;
    height: 5%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #616161;
}

h1 {
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

p {
    text-indent: 2em;
}

.about-us {
    margin-top: 50px;
    margin-bottom: 10px;
}

.about-text {
    width: 90%;
    margin: auto;
    text-align: center;
}

.list-parent {
    text-align: center;
    margin: 5px 0;
}

.list-parent ul {
    display: inline-block; 
	text-align: left;
    width: 40%;
}

hr {
    width: 90%;
    margin: auto;
}
.staff {
    margin-top: 60px;
}

.employee-container {
    display: flex;
    align-items: center;
    width: 93%;
    margin: 1.5em auto;
    justify-content: space-between;
    padding: 1em 0;
}

#person1 {
    margin-top: .5em;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: .5em 1.5em;
}

.staff .text {
    width: 80%;
    margin: 0 30px;
}

@media screen and (max-width: 768px) {
    .employee-container {
        display: flex;
        flex-direction: column;
    }

    .employee-container img {
        margin: 15px auto;
    }
} 

@media screen and (orientation: portrait) {
    #slideshow .text{
        font-size: 2rem;
        position: relative;
        bottom: 20px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2em;
    }

    main img {
        margin: 1.5em auto;
        display: block;
    }
    
    .text {
        margin: auto;
        text-align: center;
    }

    .about-text .list-parent ul {
        width: 80%;
    }

    .employee-container .list-parent {
        text-align: center;
    }

    .employee-container .list-parent ul {
        display: inline-block; 
	    text-align: left;
        width: 80%;
    }
}