section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
}

section > * {
    width: 45%;
    border-radius: 5px;
    box-shadow: 3px 3px 15px grey;
}

.item {
    text-align: center;
    margin: 20px 10px;
    height: fit-content;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.item p, .item h3 {
    margin: 8px;
}

p {
    padding: .2em;
}

@media screen and (max-width: 900px) {
    main {
        display: block;
    }

    section > * {
        width: 90%;
    }
}