* {
    box-sizing: border-box;
    margin: 0;
    /*padding: 0;*/
    font-family: Calibri, Helvetica, sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav { 
    display: flex;   
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    background-color: #616161;
    height: 8%;
    width: 100%;
    margin: 0;
}
nav img {
    margin: 10px;
    border-radius: 10px;
    width: 150px;
    height: 60px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
}
.nav-container a {
    width: 100px;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    margin: 0 8px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}
.nav-container a:hover {
    background-color: #414141;
}

nav .active {
    background-color: cyan;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 1rem;
}