* {
    box-sizing: border-box;
    margin: 0;
    /*padding: 0;*/
    font-family: Calibri, Helvetica, sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 5px 0;
    justify-content: space-between;
    padding: 8px 15px;
    z-index: 10;
}

nav .img-container {
    width: 130px;
    height: 75%;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto; 
}

nav img {
    border-radius: 5px;
}

.nav-container a {
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    padding: 7px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
}

.nav-container a:hover {
    border-bottom: 2px solid white;
}

nav .active {
    border-bottom: 3px solid white;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 1rem;
}

#header {
    width: 100%;
}

#header h1 {
    color: white;
    z-index: 1;
}

#header .img-filter {
    width: 100%;
    height: 300px;
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
}

#header .img-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../images/Logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer > * {
    margin: 5px 0;
}

@media screen and (max-width: 600px) {
    .nav-container {
        display: none;
    }
}