* {
    box-sizing: border-box;
    margin: 0;
    /*padding: 0;*/
    font-family: Calibri, Helvetica, sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    height: 70px;
}

.img-container {
    width: 125px;
    height: 100%;
    position: relative;
    top: 12%;
    left: 2%;
    display: inline-block;
}

nav img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.nav-container a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: inline-block;
    padding: 7% 10px;
    margin: 0 15px;

}

.nav-container {
    display: inline-block;
    height: 100%;
    float: right;
}

.nav-container a:hover {
    border-bottom: thick solid white;
}

nav .active {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 1rem;
}